In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url = 'https://raw.githubusercontent.com/BuzzFeedNews/nics-firearm-background-checks/master/data/nics-firearm-background-checks.csv'

df = pd.read_csv(url)
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14520 entries, 0 to 14519
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14520 non-null  object
 1   state                      14520 non-null  object
 2   permit                     14496 non-null  float64
 3   permit_recheck             3135 non-null   float64
 4   handgun                    14500 non-null  float64
 5   long_gun                   14501 non-null  float64
 6   other                      7535 non-null   float64
 7   multiple                   14520 non-null  int64
 8   admin                      14497 non-null  float64
 9   prepawn_handgun            12577 non-null  float64
 10  prepawn_long_gun           12575 non-null  float64
 11  prepawn_other              7150 non-null   float64
 12  redemption_handgun         12580 non-null  float64
 13  redemption_long_gun        12579 non-null  float64
 14  redemption_other           7150 non-null   float64
 15  returned_handgun           4235 non-null   float64
 16  returned_long_gun          4180 non-null   float64
 17  returned_other             3850 non-null   float64
 18  rentals_handgun            3025 non-null   float64
 19  rentals_long_gun           2860 non-null   float64
 20  private_sale_handgun       4785 non-null   float64
 21  private_sale_long_gun      4785 non-null   float64
 22  private_sale_other         4785 non-null   float64
 23  return_to_seller_handgun   4510 non-null   float64
 24  return_to_seller_long_gun  4785 non-null   float64
 25  return_to_seller_other     4290 non-null   float64
 26  totals                     14520 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.0+ MB

In [ ]:
#pandas profiling
import pandas_profiling
# from pandas_profiling import ProfileReport
#
# profile = ProfileReport(df).to_notebook_iframe()
# profile

In [12]:
df['month'] =pd.to_datetime(df['month']) # already done
df.info()
#
# df['month'].dt.month
#
# df['new_month'] = df['month'].dt.month
# df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14520 entries, 0 to 14519
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14520 non-null  datetime64[ns]
 1   state                      14520 non-null  object
 2   permit                     14496 non-null  float64
 3   permit_recheck             3135 non-null   float64
 4   handgun                    14500 non-null  float64
 5   long_gun                   14501 non-null  float64
 6   other                      7535 non-null   float64
 7   multiple                   14520 non-null  int64
 8   admin                      14497 non-null  float64
 9   prepawn_handgun            12577 non-null  float64
 10  prepawn_long_gun           12575 non-null  float64
 11  prepawn_other              7150 non-null   float64
 12  redemption_handgun         12580 non-null  float64
 13  redemption_long_gun        12579 non-null  float64
 14  redemption_other           7150 non-null   float64
 15  returned_handgun           4235 non-null   float64
 16  returned_long_gun          4180 non-null   float64
 17  returned_other             3850 non-null   float64
 18  rentals_handgun            3025 non-null   float64
 19  rentals_long_gun           2860 non-null   float64
 20  private_sale_handgun       4785 non-null   float64
 21  private_sale_long_gun      4785 non-null   float64
 22  private_sale_other         4785 non-null   float64
 23  return_to_seller_handgun   4510 non-null   float64
 24  return_to_seller_long_gun  4785 non-null   float64
 25  return_to_seller_other     4290 non-null   float64
 26  totals                     14520 non-null  int64
dtypes: datetime64[ns](1), float64(23), int64(2), object(1)
memory usage: 3.0+ MB

In [26]:
df['month'][0].dt.year

AttributeError: 'Timestamp' object has no attribute 'dt'

TypeError: an integer is required (got type Timestamp)

In [24]:
import calendar
{m: i for i, m in enumerate(calendar.month_abbr) if m}

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [33]:
def to_year(sting):
    return df['month'][0].year

def to_month(sting):
    return df['month'][0].month

df['year'] = df['month'].apply(to_year)
df['month'] = df['month'].apply(to_month)
df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,10,Alabama,32038.0,585.0,24084.0,17964.0,1698.0,1104,0.0,28.0,...,0.0,0.0,28.0,25.0,7.0,1.0,4.0,1.0,80934,2020
1,10,Alaska,264.0,1.0,3209.0,3210.0,348.0,188,0.0,0.0,...,0.0,0.0,6.0,13.0,1.0,1.0,0.0,0.0,7564,2020
2,10,Arizona,8991.0,1015.0,24964.0,12288.0,1951.0,1762,0.0,9.0,...,0.0,0.0,19.0,13.0,0.0,0.0,1.0,0.0,52521,2020
3,10,Arkansas,5108.0,549.0,8931.0,9386.0,567.0,421,8.0,9.0,...,0.0,0.0,15.0,7.0,4.0,0.0,0.0,0.0,27177,2020
4,10,California,36719.0,0.0,65376.0,40286.0,8319.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,151359,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14515,10,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,2020
14516,10,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,2020
14517,10,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408,2020
14518,10,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241,2020
14519,10,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,2020

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14520 entries, 0 to 14519
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14520 non-null  int64
 1   state                      14520 non-null  object
 2   permit                     14496 non-null  float64
 3   permit_recheck             3135 non-null   float64
 4   handgun                    14500 non-null  float64
 5   long_gun                   14501 non-null  float64
 6   other                      7535 non-null   float64
 7   multiple                   14520 non-null  int64
 8   admin                      14497 non-null  float64
 9   prepawn_handgun            12577 non-null  float64
 10  prepawn_long_gun           12575 non-null  float64
 11  prepawn_other              7150 non-null   float64
 12  redemption_handgun         12580 non-null  float64
 13  redemption_long_gun        12579 non-null  float64
 14  redemption_other           7150 non-null   float64
 15  returned_handgun           4235 non-null   float64
 16  returned_long_gun          4180 non-null   float64
 17  returned_other             3850 non-null   float64
 18  rentals_handgun            3025 non-null   float64
 19  rentals_long_gun           2860 non-null   float64
 20  private_sale_handgun       4785 non-null   float64
 21  private_sale_long_gun      4785 non-null   float64
 22  private_sale_other         4785 non-null   float64
 23  return_to_seller_handgun   4510 non-null   float64
 24  return_to_seller_long_gun  4785 non-null   float64
 25  return_to_seller_other     4290 non-null   float64
 26  totals                     14520 non-null  int64
 27  year                       14520 non-null  int64
dtypes: float64(23), int64(4), object(1)
memory usage: 3.1+ MB

In [37]:
# create a list of columns
column_list = df.columns.tolist()
df = df[['year',
    'month',
 'state',
 'permit',
 'permit_recheck',
 'handgun',
 'long_gun',
 'other',
 'multiple',
 'admin',
 'prepawn_handgun',
 'prepawn_long_gun',
 'prepawn_other',
 'redemption_handgun',
 'redemption_long_gun',
 'redemption_other',
 'returned_handgun',
 'returned_long_gun',
 'returned_other',
 'rentals_handgun',
 'rentals_long_gun',
 'private_sale_handgun',
 'private_sale_long_gun',
 'private_sale_other',
 'return_to_seller_handgun',
 'return_to_seller_long_gun',
 'return_to_seller_other',
 'totals']]

In [38]:
df

,year,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020,10,Alabama,32038.0,585.0,24084.0,17964.0,1698.0,1104,0.0,...,0.0,0.0,0.0,28.0,25.0,7.0,1.0,4.0,1.0,80934
1,2020,10,Alaska,264.0,1.0,3209.0,3210.0,348.0,188,0.0,...,0.0,0.0,0.0,6.0,13.0,1.0,1.0,0.0,0.0,7564
2,2020,10,Arizona,8991.0,1015.0,24964.0,12288.0,1951.0,1762,0.0,...,1.0,0.0,0.0,19.0,13.0,0.0,0.0,1.0,0.0,52521
3,2020,10,Arkansas,5108.0,549.0,8931.0,9386.0,567.0,421,8.0,...,0.0,0.0,0.0,15.0,7.0,4.0,0.0,0.0,0.0,27177
4,2020,10,California,36719.0,0.0,65376.0,40286.0,8319.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,151359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14515,2020,10,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
14516,2020,10,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
14517,2020,10,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
14518,2020,10,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
14519,2020,10,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [42]:
# change the month from integer to string
import calendar

def month_int_to_str(integer):
    return calendar.month_name[integer]

df['month'] = df['month'].apply(month_int_to_str)

0        October
1        October
2        October
3        October
4        October
          ...
14515    October
14516    October
14517    October
14518    October
14519    October
Name: month, Length: 14520, dtype: object