<a href="https://colab.research.google.com/github/singparvi/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/DS_1_1_Module_1_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'
df = pd.read_csv(url)

print (df.head())
mycols = ["top-left-square", "top-middle-square", "top-right-square", "middle-left-square", 
          "middle-middle-square", "middle-right-square", "botton-left-square", "botton-middle-square", "botton-right-square", "class"]
df = pd.read_csv(url, names = mycols)
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

  top-left-square top-middle-square  ... botton-right-square     class
0               x                 x  ...                   o  positive
1               x                 x  ...                   o  positive
2               x                 x  ...                   x  positive
3               x                 x  ...                   b  positive
4               x                 x  ...                   b  positive

[5 rows x 10 columns]

In [7]:
import pandas as pd
from google.colab import files
import io 


# df = pd.read_csv('/home/rob/Documents/tic-tac-toe.data')
uploaded = files.upload()

Saving tic-tac-toe.data to tic-tac-toe (1).data

In [8]:
df = pd.read_csv(io.BytesIO(uploaded['tic-tac-toe.data']))

df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [12]:
df.shape

(957, 10)

In [14]:
df.tail()

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

In [15]:
df.describe()

          x  x.1  x.2  x.3    o  o.1  x.4  o.2  o.3  positive
count   957  957  957  957  957  957  957  957  957       957
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    417  377  417  377  458  378  417  378  418       625

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   x         957 non-null    object
 1   x.1       957 non-null    object
 2   x.2       957 non-null    object
 3   x.3       957 non-null    object
 4   o         957 non-null    object
 5   o.1       957 non-null    object
 6   x.4       957 non-null    object
 7   o.2       957 non-null    object
 8   o.3       957 non-null    object
 9   positive  957 non-null    object
dtypes: object(10)
memory usage: 74.9+ KB

In [18]:
df.isnull().sum()

x           0
x.1         0
x.2         0
x.3         0
o           0
o.1         0
x.4         0
o.2         0
o.3         0
positive    0
dtype: int64

In [20]:
df.fillna() # error as there is none with NaN value
df.dropna() # error as there is none with NaN value

ValueError: ignored

In [21]:
# Import pandas
import pandas as pd

# read the data from website
 
url = 'https://tinyurl.com/mms-statistics'
df = pd.read_csv(url)

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [22]:
df.shape

(816, 4)

In [23]:
df.head()

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [24]:
df.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      816 non-null    object
 1   color     816 non-null    object
 2   diameter  816 non-null    float64
 3   mass      816 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.6+ KB

In [26]:
df.columns

Index(['type', 'color', 'diameter', 'mass'], dtype='object')

In [29]:
df.drop(columns = 'mass')

              type   color  diameter
0    peanut butter    blue     16.20
1    peanut butter   brown     16.50
2    peanut butter  orange     15.48
3    peanut butter   brown     16.32
4    peanut butter  yellow     15.59
..             ...     ...       ...
811         peanut     red     15.89
812         peanut   green     15.48
813         peanut   green     14.08
814         peanut     red     15.22
815         peanut  yellow     16.33

[816 rows x 3 columns]

In [33]:
df['type'].value_counts()
# df.value_counts()

plain            462
peanut butter    201
peanut           153
Name: type, dtype: int64

In [35]:
# Challenge

df.isnull().sum() 
# answer - there is no null value in the data set

type        0
color       0
diameter    0
mass        0
dtype: int64

In [36]:
df.sort_values(by = 'diameter')

              type   color  diameter  mass
616          plain   green     11.23  0.73
634          plain   green     12.15  0.85
324          plain  yellow     12.32  0.72
568          plain   brown     12.38  0.82
271          plain    blue     12.39  0.81
..             ...     ...       ...   ...
5    peanut butter   brown     17.43  2.59
118  peanut butter    blue     17.43  2.54
84   peanut butter     red     17.50  2.53
143  peanut butter   green     17.61  2.63
785         peanut    blue     17.88  3.57

[816 rows x 4 columns]

In [37]:
df.sort_values(by = 'mass')

       type   color  diameter  mass
324   plain  yellow     12.32  0.72
571   plain  orange     12.56  0.73
616   plain   green     11.23  0.73
225   plain  orange     13.04  0.74
462   plain     red     12.61  0.76
..      ...     ...       ...   ...
717  peanut    blue     15.71  3.27
738  peanut  yellow     15.76  3.37
762  peanut   green     16.36  3.48
785  peanut    blue     17.88  3.57
690  peanut  orange     16.70  3.62

[816 rows x 4 columns]

In [39]:
df.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000

Objective 05 - generate basic visualizations with Pandas
[link text](https://https://lambdaschool.instructure.com/courses/463/pages/objective-05-generate-basic-visualizations-with-pandas?module_item_id=515132)