<a href="https://colab.research.google.com/github/singparvi/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment%20(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Learning Objectives

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# Let's continue to explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data here: https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv

In [ ]:
#Code here
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

###2) Print the first five rows of the house dataset.

In [ ]:
#Code here
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

###3) Create a new variable called Large_Lot that takes on the value 1 when LotArea is gerater than or equal to 10,000 and the value 0 when LotArea is less than 10,000.

In [ ]:
#Code here
df.loc[df['LotArea'] >= 10000, 'Large_Lot'] = 1
df.loc[df['LotArea'] < 10000, 'Large_Lot'] = 0

df

        Id  MSSubClass MSZoning  ...  SaleCondition  SalePrice Large_Lot
0        1          60       RL  ...         Normal     208500       0.0
1        2          20       RL  ...         Normal     181500       0.0
2        3          60       RL  ...         Normal     223500       1.0
3        4          70       RL  ...        Abnorml     140000       0.0
4        5          60       RL  ...         Normal     250000       1.0
...    ...         ...      ...  ...            ...        ...       ...
1455  1456          60       RL  ...         Normal     175000       0.0
1456  1457          20       RL  ...         Normal     210000       1.0
1457  1458          70       RL  ...         Normal     266500       0.0
1458  1459          20       RL  ...         Normal     142125       0.0
1459  1460          20       RL  ...         Normal     147500       0.0

[1460 rows x 82 columns]

###4) Create a new variable called Total_Bathrooms that contains the total number of full and half bathrooms in the house.

In [ ]:
# first finding columns that end with Bath using list comprehension

[col for col in df if col.endswith('Bath')]

['BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath']

In [ ]:
# another way using if statement

for col in df:
  if col.endswith('Bath'):
    print (col)

BsmtFullBath
BsmtHalfBath
FullBath
HalfBath

In [ ]:
#Code here

df['Total_Bathrooms'] = df['BsmtFullBath'] + df['BsmtHalfBath'] + df['FullBath'] + df['HalfBath']
df['Total_Bathrooms']

0       4
1       3
2       4
3       2
4       4
       ..
1455    3
1456    3
1457    2
1458    2
1459    3
Name: Total_Bathrooms, Length: 1460, dtype: int64

###5) Create a new variable called Summer_Sale that equals 1 if the sale month was in June, July or August ( MoSold = 6, 7 or 8) and 0 if the sale month was in September - May.

In [ ]:
df['MoSold']

0        2
1        5
2        9
3        2
4       12
        ..
1455     8
1456     2
1457     5
1458     4
1459     6
Name: MoSold, Length: 1460, dtype: int64

In [ ]:
#code here
df.loc[(df['MoSold'] == 6) | (df['MoSold'] == 7) | (df['MoSold'] == 8),'Summer_Sale'] = 1
df.loc[(df['MoSold'] < 6) | (df['MoSold'] > 7),'Summer_Sale'] = 0
df['Summer_Sale']


pd.crosstab(df['Summer_Sale'], columns = 'count')

col_0        count
Summer_Sale
0.0            973
1.0            487

#Now we'll revisit the LendingClub data.

Remember to import the data by first unzipping the file:

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-10-30 21:18:55--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.10.168.94, 34.209.169.217, 52.10.247.232
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.10.168.94|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: â€˜LoanStats_2018Q4.csv.zipâ€™

LoanStats_2018Q4.cs     [              <=>   ]  22.30M  6.07MB/s    in 4.4s

2020-10-30 21:19:00 (5.06 MB/s) - â€˜LoanStats_2018Q4.csv.zipâ€™ saved [23387713]

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [ ]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","5000","5000","5000"," 36 months"," 11.31%","164.43","B","B3","Shipping","2 years","RENT","40000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","284xx","NC","9.66","0","Oct-2007","0","","","8","0","1070","17.5%","27","w","2770.45","2770.45","2956.61","2956.61","2229.55","727.06","0.0","0.0","0.0","Sep-2020","164.43","Oct-2020","Sep-2020","0","","1","Individual","","","","0","550","144979","1","2","0","1","13","143909","78","1","3","170","44","6100","1","0","1","4","18122","3283","8.8","0","0","134","86","6","6","0","6","","9","","0","2","5","3","3","19","6","8","5","8","0","0","0","1","100","0","0","0","125853","144979","3600","119753","","","","","","","","","","","","N","CVD19SKIP","INCOMECURT","COMPLETE","2","0","Apr-2020","Jun-2020","May-2020","2","0","ACTIVE","58.8","3121.41","164.43","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 18.94%","366.26","D","D2","Especialist 1","7 years","MORTGAGE","37115","Not Verified","Dec-2018","Current","n","","","other","Other","891xx","NV","33.57","0","Jan-2002","0","38","","9","0","5837","53.1%","15","w","5147.99","5147.99","7309.42","7309.42","4852.01","2457.41","0.0","0.0","0.0","Sep-2020","366.26","Oct-2020","Sep-2020","0","38","1","Joint App","91115","18.61","Not Verified","0","0","240589","3","2","1","2","8","34508","88","2","3","1659","64","11000","2","0","5","6","26732","2669","52.3","0","0","158","203","4","4","1","5","38","7","38","1","2","5","3","6","4","6","10","5","9","0","0","0","4","93.3","33.3","0","0","253346","40345","5600","41060","19051","Jan-2016","1","1","9","76.4","2","7","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.56%","622.68","A","A3","Teacher","10+ years","MORTGAGE","100000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","982xx","WA","18.92","0","Feb-1999","0","48","","9","0","25416","29.9%","19","w","0.00","0.00","20215.79243","20215.79","20000.00","215.79","0.0","0.0","0.0","Feb-2019","20228.39","","Feb-2019","0","","1","Joint App","190000","11.75","Not Verified","0","0","515779","1","2","0","1","13","46153","71","1","2","9759","39","85100","2","2","0","5","57309","59684","29.9","0","0","171","238","1","1","5","1","","13","48","0","5","5","5","6","5","5","9","5","9","0","0","0","1","94.7","20","0","0","622183","71569","85100","74833","43287","Aug-1998","0","3","10","29.7","2","7","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 11.80%","215.28","B","B4","Educator ","2 years","RENT","46500","Source Verified","Dec-2018","Late (16-30 days)","n","","","debt_consolidation","Debt consolidation","352xx","AL","21.01","0","Aug-2011","1","61","","24","0","6741","41.6%","30","w","3354.53","3354.53","4083.93","4083.93","3145.47","938.46","0.0","0.0","0.0","Jul-2020","215.28","Oct-2020","Sep-2020","0","61","1","Individual","","","","0","0","40223","4","12","2","2","5","33482","97","7","12","3662","79","16200","2","0","4","14","1749","7694","42.2","0","0","88","72","1","1","0","3","","5","61","2","6","10","6","6","14","11","16","10","24","0","0","0","9","93.3","0","0","0","50845","40223","13300","34645","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 12.98%","568.58","B","B5","Tire builder","10+ years","MORTGAGE","85000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","356xx","AL","36.67","1","Oct-1993","1","10","","14","0","26630","53.3%","27","w","0.00","0.00","29563.763968438","29563.76","25000.00","4563.76","0.0","0.0","0.0","Aug-2020","19356.36","","Aug-2020","0","40","1","Joint App","140000","23.08","Not Verified","0","56","206980","1","7","1","3","3","69513","81","1","1","17292","68","50000","1","3","1","4","14784","18581","57.7","0","0","186","185","9","3","4","9","10","3","10","1","4","5","4","5","13","6","10","5","14","0","0","0","2","85.2","0","0","0","275691","96143","43900","99691","48711","Oct-1993","1","4","16","56.5","8","12","0","0","49","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 10.33%","97.27","B","B1","Driver","7 years","RENT","40000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","493xx","MI","10.68","0","Oct-2014","1","","67","3","1","3092","44.2%","5","w","1043.91","1043.91","2340.09","2340.09","1956.09","384.00","0.0","0.0","0.0","Sep-2020","97.27","Oct-2020","Sep-2020","0","","1","Individual","","","","0","0","12563","2","1","2","3","4","9471","95","0","0","3049","74","7000","4","2","2","3","4188","3908","44.2","0","0","13","50","46","4","0","46","","0","","0","2","2","2","2","3","2","2","2","3","0","0","0","2","100","0","1","0","17000","12563","7000","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 60 months"," 19.92%","925.73","D","D3","OPERATOR","10+ years","MORTGAGE","68000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","309xx","GA","50.67","0","Nov-2006","0","","","15","0","21426","72.4%","19","w","29184.03","29184.03","15679.31","15679.31","5815.97","9863.34","0.0","0.0","0.0","Sep-2020","925.73","Oct-2020","Sep-2020","0","","1","Joint App","142000","33.2","Verified","0","0","386561","0","3","0","3","15","117426","74","1","8","4815","73","29600","3","3","2","11","25771","6686","72.9","0","0","46","145","10","10","1","13","","0","","0","9","11","9","10","5","11","13","11","15","0","0","0","1","100","33.3","0","0","432156","138852","24700","140677","55728","Feb-1999","0","0","15","45.5","5","15","0","0","46","N","CVD19SKIP","REDUCED_HOURS","COMPLETE","4","0","May-2020","Aug-2020","Jun-2020","4","0","ACTIVE","4031.43","29943.01","331.15","N","","","","","",""
"","","1250","1250","1250"," 36 months"," 23.40%","48.65","E","E1","BANKER","10+ years","RENT","52000","Source Verified","Dec-2018","Fully Paid","n","","","other","Other","477xx","IN","9.9","0","Jan-2011","2","","","7","0","8050","28.9%","10","w","0.00","0.00","1512.8449381742","1512.84","1250.00","262.84","0.0","0.0","0.0","Dec-2019","980.13","","Dec-2019","0","","1","Individual","","","","0","0","8050","1","0","0","0","53","0","","1","2","4356","29","27900","1","0","2","2","1150","6483","54.3","0","0","53","95","2","2","0","2","","1","","0","4","7","4","6","1","7","9","7","7","0","0","0","1","100","0","0","0","27900","8050","14200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [ ]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128378, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

#Approaching a problem two different ways.

In the guided project, we learned how to find the earliest credit year using the built-in pandas date-time format.  However, there is often more than one way to come up with the same solution.


In the following questions we will work through the steps to create a new variables called Earliest_Credit_Year and issue_year where we use the .split() function remove the month report back just the year as a float data type.  Then we'll use those variables to calculate the length of credit history in years.

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

###6) Create a simple test case where credit = 'Jun-1979'.  

Use the .split('-') function to separate the month and year parts of the data and print the year.

Hint: Name the results of the .split('-') function "fields".  fields[0] will return the month part of the date and fields[1] will return the year part of the date.

In [ ]:
#code here
string = 'Jun-1979'

fields = string.split('-')
fields[1]

'1979'

###7) Use your answer in 6) to write a function called credit_yr that takes in the contents of a cell formatted 'month-year' and returns the year.

Run your function using the simple test case in 6).

In [ ]:
#Code here
def credit_yr(string):
  fields = string.split('-')
  return int(fields[1])

credit_yr(string)

1979

###8) Use the .apply() function to apply the function to every cell in the earliest_cr_line variable.  Create a new variable called Earliest_Credit_Year that contains the results of the function.

In [ ]:
#code here

df['Earliest_Credit_Year'] = df['earliest_cr_line'].apply(credit_yr)

###9) Print the top 5 rows of the Earliest_Credit_Year and earliest_cr_line variables to make sure the variables were created correctly.

In [ ]:
#code here

print (df['Earliest_Credit_Year'].head(5))
print (df['earliest_cr_line'].head(5))

0    2007
1    2002
2    1999
3    2011
4    1993
Name: Earliest_Credit_Year, dtype: int64
0    Oct-2007
1    Jan-2002
2    Feb-1999
3    Aug-2011
4    Oct-1993
Name: earliest_cr_line, dtype: object

### 10) Use your function to create a new variable called Issue_Year from the issue_d variable.

In [ ]:
#code here
df['Issue_Year'] = df['issue_d'].apply(credit_yr)
df['Issue_Year']

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128373    2018
128374    2018
128375    2018
128376    2018
128377    2018
Name: Issue_Year, Length: 128378, dtype: int64

###11) Caluculate length of credit history in years and in days.

Hint: If you are getting an error message, make sure to check the data type of the years output by your functions.

In [ ]:
#Code here
df['credit_history_years'] =  df['Issue_Year'] - df['Earliest_Credit_Year']
df['credit_history_years']

0         11
1         16
2         19
3          7
4         25
          ..
128373    33
128374    36
128375    12
128376    10
128377    12
Name: credit_history_years, Length: 128378, dtype: int64

###12) Calculate the maximum credit length and compare it to we got in the guided project.  

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [ ]:
#code here

df['credit_history_years'].max()

68

#Portfolio Project Assignment

Start looking for interesting datasets!  

Pretty much every major US governmental agency (CDC, Bureau of Labor Statistics, The Census, etc.) maintains a treasure trove of data.

There's also:

Datasets from the University of Florida Department of Statistics: http://users.stat.ufl.edu/~winner/datasets.html

Pew Research: https://www.pewresearch.org/

General Social Survey: https://gss.norc.org/

Ancestry.com Free data collections: https://www.ancestry.com/search/categories/freeindexacom/?clickref=1101lbhdWxys&key=Uhttps%3A%2F%2Fwww.ancestry.com%2Fsearch%2Fcategories%2Ffreeindexacom%2F%3Fclickref%3D1101lbhdWxys&o_lid=01011l4pVw&o_sch=Affiliate+External&o_xid=01011l4pVw

Popular baby names by year since the founding of the SSA: https://www.babynamewizard.com/ 


https://data.world/

https://www.kaggle.com/datasets

https://catalog.data.gov/dataset

https://datasetsearch.research.google.com/

https://archive.ics.uci.edu/ml/index.php

https://github.com/plotly/datasets

https://lionbridge.ai/datasets/20-best-image-datasets-for-computer-vision/

https://www.visualdata.io/

https://pathmind.com/wiki/open-datasets

https://blog.playment.io/top-open-image-dataset/

https://blog.cambridgespark.com/

https://www.analyticsvidhya.com/blog/2018/03/

https://data-flair.training/blogs/machine-learning-datasets/