<a href="https://colab.research.google.com/github/singparvi/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/module2_make_features_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
url = 'https://tinyurl.com/mms-statistics'

mms = pd.read_csv(url)
mms

              type   color  diameter  mass
0    peanut butter    blue     16.20  2.18
1    peanut butter   brown     16.50  2.01
2    peanut butter  orange     15.48  1.78
3    peanut butter   brown     16.32  1.98
4    peanut butter  yellow     15.59  1.62
..             ...     ...       ...   ...
811         peanut     red     15.89  2.63
812         peanut   green     15.48  2.81
813         peanut   green     14.08  2.59
814         peanut     red     15.22  2.69
815         peanut  yellow     16.33  3.04

[816 rows x 4 columns]

In [4]:
mms.head()

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [14]:
# creating volume in cubic cm
mms['Volume'] = 3.142 * (4/3) * (mms.diameter/(10*2))**3
mms['volume_from_module'] = (4/3)*(3.14)*((mms['diameter'])/10*2)**3
mms['volume_from_module_corrected'] = (4/3)*(3.14)*((mms['diameter'])/(10*2))**3

# mms.volume = 3.142 * (4/3) * (mms.diameter/(10*2)) **3 Error: Pandas doesn't allow columns to be created via a new attribute name
mms.Volume
mms

              type   color  ...  volume_from_module  volume_from_module_corrected
0    peanut butter    blue  ...          142.397844                      2.224966
1    peanut butter   brown  ...          150.456240                      2.350879
2    peanut butter  orange  ...          124.242803                      1.941294
3    peanut butter   brown  ...          145.585739                      2.274777
4    peanut butter  yellow  ...          126.910255                      1.982973
..             ...     ...  ...                 ...                           ...
811         peanut     red  ...          134.378585                      2.099665
812         peanut   green  ...          124.242803                      1.941294
813         peanut   green  ...           93.490253                      1.460785
814         peanut     red  ...          118.087065                      1.845110
815         peanut  yellow  ...          145.853524                      2.278961

[816 rows x 7 columns]

In [15]:
pd.__version__

'1.1.3'

Objective 2

In [ ]:
from google.colab import files
uploaded = files.upload()